.container {  
    display: flex;
 }
 .boxes {
    border: .1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    /* flex-wrap: wrap; */
 }
 #box1 { background-color: green; }
 #box2 { background-color: yellow; }
 #box3 { background-color: pink; }
 #box4 { background-color: blue; }
 #box5 { background-color: red; }
 #box6 { background-color: orange; }
 #box7 { background-color:beige; }
 #box8 { background-color: lightgrey; }

 /* .card-body {
   border: 1px solid black;
   display: flex;
   width: 200px;
   flex-wrap: wrap;
 }
 .img-container img{
   margin: auto;
   width: 200px;
   height: auto;
 }
 .card-body p, .card-body h1 {
   margin: 8px;
 } */